// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.logo{
    a{
        max-width: 89px;
        display: block;
    }   

}

.btn-primary{
    background-color: $main-blue;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $main-blue;
    color: $main-blue;
}